<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.maharshiappdev.pseudogen">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PseudoGen">
        <activity android:name=".ExamplesActivity"></activity>
        <activity
            android:name=".UsingPseudoGenActivity"
            android:theme="@style/Theme.PseudoGen"></activity>
        <activity
            android:name=".CodeEditorTabbedActivity"
            android:configChanges="uiMode"
            android:label="@string/title_activity_code_editor_tabbed"
            android:theme="@style/Theme.PseudoGen"></activity>
        <activity
            android:name=".CentralActivity"
            android:configChanges="uiMode"
            android:theme="@style/Theme.PseudoGen" />
        <activity
            android:name=".EmailSignInActivity"
            android:theme="@style/Theme.PseudoGen" />
        <activity android:name=".LoginActivity" />
        <activity
            android:name=".MainActivity"
            android:configChanges="uiMode"
            android:theme="@style/Theme.PseudoGen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-4846620296621716~5470406229" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.maharshiappdev.pseudogen.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>
    </application>

</manifest>